{
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"endOfLine": "auto",
	"printWidth": 90,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"importOrder": [
		"^styles/(.*)$",
		"^assets/(.*)$",
		"^@fontsource/(.*)$",
		"next-seo.config",
		"<THIRD_PARTY_MODULES>",
		"^(next/(.*)$)|^(next$)",
		"^@nextui-org/(.*)$",
		"^@supabase/(.*)$",
		"^components/(.*)$",
		"^data/(.*)$",
		"^hooks/(.*)$",
		"^layout/(.*)$",
		"^pages/(.*)$",
		"^providers/(.*)$",
		"^types/(.*)$",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
